<h4 class="mt-5"> Sepetim (3 Ürün)</h4>
<div class="row">

    <div class="col-12 col-md-8">
        <div class="card">
            <div class="row">
                <div class="card-element col-2">


                    <img src="../../../assets/salmon-2.jpg" style="width: 100px;" alt="...">
                </div>
                <div class="card-element col-6">
                    <p class="card-text"> <b> <span style="color: var(--green);"> 50 TL</span> <br>Somon 200 gram</b></p>
                </div>
                <div class="card-element col-3 ">
                    <div class="number-of-producs">
                        <div class="fa-icon">
                            <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
                        </div>
                        <span class="number-of-producs-text">2</span>
                        <div class="fa-icon">
                            <fa-icon [icon]="faPlus" class="faPlus"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card p-4    ">
            <div class="text-paymeny">
                <h4>Sepet Toplamı</h4>
                <p>Sepet Tutarı <span style="position: absolute;right: 30px;">50 TL</span></p>
            </div>
            <button class="green-b">Siparişi Ver</button>
        </div>
    </div>
</div>