.card-element {
    align-self: center;
}

.number-of-producs {
    font-size: 20px;
}

.number-of-producs .fa-icon {
    background-color: rgb(169, 169, 169);
    display: inline;
    padding: 5px 8px;
    color: white;
    cursor: pointer;
}

.number-of-producs-text {
    padding: 5px 11px;
    align-self: center;
    background-color: rgb(169, 169, 169, .8);
    color: rgb(1, 1, 1, .9);
    font-weight: bold;
}

.basketList {
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.30);
    padding: 5px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.basketList:hover {
    box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.30);
    transform: scale(1.02);
}

.fa-icon .faTrash:hover {
    color: rgb(250, 0, 0, .6);
    animation: transformscale forwards .2s;
    display: inline-block;
}

.fa-icon .faPlus:hover {
    color: var( --shinygreen);
    animation: transformscale forwards .2s;
    display: inline-block;
}

@keyframes transformscale {
    33% {
        transform: scale(1.05);
    }
    66% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.15);
    }
}

.successMessageBox {
    background-color: #198754;
    color: white;
    width: 500px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    padding: 15px;
    /* transform: translate(50%, -50%); */
    z-index: 1100;
}