<dir class="container" style="background-color: rgb(54, 69, 79,.7);">
    <div class="row p-4 row-cols-2 row-cols-lg-4 g-2 g-lg-3 gap-2 ">
        <div class="card col">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a class="ms-2">
                        Sepete Ekle
                        <fa-icon [icon]="plus" class="ms-1"></fa-icon>
                    </a>
            </div>
        </div>

        <div class="card col">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a class="ms-2">
                        Sepete Ekle
                        <fa-icon [icon]="plus" class="ms-1"></fa-icon>
                    </a>
            </div>
        </div>
        <div class="card col">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a class="ms-2">
                        Sepete Ekle
                        <fa-icon [icon]="plus" class="ms-1"></fa-icon>
                    </a>
            </div>
        </div>
        <div class="card col">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a class="ms-2">
                        Sepete Ekle
                        <fa-icon [icon]="plus" class="ms-1"></fa-icon>
                    </a>
            </div>
        </div>
    </div>
</dir>