<div class="header_bottom">

    <!-- <nav class="navbar navbar-expand-lg bg-dark" *ngIf="this.isThisAdmin==true">
        <div class=" container-fluid">
            <a class="navbar-brand" routerLink="home" style="color: white;cursor: pointer;">Anasayfa</a>

            <div class="faNavIcon d-lg-none d-flex" data-bs-toggle="collapse" data-bs-target="#adminNavbar"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                (click)="adminNavCloseVisible=!adminNavCloseVisible">
                <fa-icon [icon]="faBars" *ngIf="adminNavCloseVisible==false"></fa-icon>
                <fa-icon [icon]="faTimes" *ngIf="adminNavCloseVisible==true"></fa-icon>
            </div>
            <div class="collapse navbar-collapse" id="adminNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="siparisler">Ödeme Al</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="siparisler">Siparişler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="menu">Menü Listesi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="yiyecekler">Yiyecek Listesi</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="icecekler"> İçecek Listesi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tatlılar">Tatlı Listesi</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <div class="container-fluid custom-nav-container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand restaurant-name" href="/">
                <span style="color: #361500">R</span>estoranım
            </a>


            <div class="faNavIcon d-lg-none d-flex" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                (click)="navCloseVisible=!navCloseVisible">
                <fa-icon [icon]="faBars" *ngIf="navCloseVisible==false"></fa-icon>
                <fa-icon [icon]="faTimes" *ngIf="navCloseVisible==true"></fa-icon>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- <form class="d-flex mx-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
                    <button class="btn btn-outline-success hover-effect search-on-nav" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
                </form> -->
                <ul class="navbar-nav ms-auto">
                    <ng-container *ngIf="currentRoute=='/anasayfa'">

                        <li class="nav-item">
                            <a class="nav-link" (click)="goto( 'menus')">Menüler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goto( 'foods')">Yiyecekler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goto( 'drinks')"> İçecekler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goto( 'sweets')">Tatlılar</a>
                        </li>
                    </ng-container>
                    <li class="nav-item">
                        <a class="nav-link" href="/sepetim">Sepetim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/siparislerim">Siparişlerim</a>
                    </li>
                    <!-- <li class="nav-item">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <fa-icon [icon]="faUser"></fa-icon>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Profilim</a></li>
                                <li><a class="dropdown-item" href="#">Geçmiş Siparişlerim</a></li>
                                <li><a class="dropdown-item" href="/GirisYap">Giriş Yap</a></li>
                            </ul>
                        </div>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>

<div style="margin-top:130px;">
    <router-outlet (dataEvent)="onLogin($event)"></router-outlet>
</div>
<footer>
    <p class="restaurant-name"> Restoran <span style="color: #361500">A</span>dı</p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
            <h5>İletişim</h5>
            <p><span class="contact-span">Mail Adresimiz</span><br>
                <a href="mailto:hege@example.com">hege@example.com</a><br> <span class="contact-span"> Telefon
                    Numaramız</span><br>
                <a href="mailto:hege@example.com">5055832425</a><br> <span class="contact-span">Mail
                    Adresimiz</span><br>
                <a href="mailto:hege@example.com">hege@example.com</a>
            </p>
        </div>
        <div class="col">
            <h5>Kampanyalar</h5>
            <p>
                <a href="#">Aktif Kampanyalar</a><br>
                <a href="#">Fırsatlar</a>
            </p>
        </div>
        <div class="col">
            <h5>Yardım</h5>
            <p>
                <a href="#">Sık Sorulan Sorular</a><br>
            </p>
        </div>


    </div>
    <hr>
    <div class="icon">
        <div> © Berat BAYRAKTAR tarafından yapıldı.</div>
        <i class="fab fa-instagram"></i>
    </div>
</footer>