.header_bottom {
    background-color: var(--green);
    color: white;
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
}

.admin-navbar {
    height: 40px;
    display: flex;
}

.admin-navbar-item div {
    list-style: none;
    display: inline-flex;
    margin: auto;
}

.admin-navbar-item .admin-links li :hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.admin-start {
    position: absolute;
    left: 25px;
}

.admin-links {
    position: absolute;
    right: 25px;
}

.restaurant-name {
    font-weight: 500;
    font-size: 30px;
    color: var(--cream)!important;
}

.nav-item .dropdown {
    background-color: var(--green);
}

.nav-item .dropdown fa-icon {
    font-size: 30px;
}

.nav-item .dropdown .dropdown-toggle {
    padding: 0px 10px;
    color: white;
}

.search-on-nav {
    border-color: white;
}

.header_bottom .nav-link {
    color: white;
}

footer {
    background-color: var(--green);
    padding: 60px 100px;
    color: white;
    margin-top: 80px;
}

footer .icon {
    text-align: center;
}

footer .col h5 {
    text-decoration: underline;
}

.contact-span {
    text-decoration: none;
}