<div class="card mx-auto mt-5 " style="width: 90%;">
    <div class="row row-cols-2 login-row">
        <div class="col d-none d-md-inline-block">
            <img src="../../../assets/salmon-2.jpg" width="100%" height="100%" class="login-img">
            <div class="img-content">
                <h3 class="content-header">Aradığınız lezzet</h3>
                <p class="content-text">Aradığınız çeşitlilik burada <span class="name">Benim<span class="r">R</span>estoranım</span>da !
                </p>
            </div>
        </div>
        <div class="col">
            <form class="p-5">
                <div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Sitemize kayıtlı mail adresinizi giriniz.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Şifre</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                    </div>
                    <button type="submit" class="green-b">Giriş Yap</button>
                    <p class="pt-3">Eğer hesabınız yoksa <a href="/Kaydol">buradan</a> kayıt olabilirsiniz !</p>

                </div>
            </form>
        </div>
    </div>
</div>