<dir class="container">
    <div class="buttons">
        <button (click)="resetAddForm();" type="button" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#addModal">Menü Ekle</button>
        <button type="button" class="btn btn-danger" (click)="ExportTOExcel()">Exele Aktar</button>
    </div>
    <table class="table table-striped table-bordered" #TABLE>
        <thead>
            <tr class="border">
                <th class="text-center colspan-5" colspan="6">
                    <h4>Menü Listesi</h4>
                </th>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Resmi</th>
                <th scope="col">İsmi</th>
                <th scope="col">Açıklaması</th>
                <th scope="col">Fyatı (₺)</th>
                <th scope="col" [width]="75">İşlem</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let menu of menus; let i = index">
                <!-- <script>
                    tableIndex++;
                </script> -->
                <th>{{i+1}}</th>
                <td>
                    <img src="{{imgUrl}}{{menu.imgUrl}}" alt="" style="width: 100px;">
                </td>
                <td>{{menu.name}}</td>
                <td>{{menu.description}}</td>
                <td>{{menu.price}}</td>
                <td class="process">
                    <fa-icon [ngClass]="{ 'shiny': menu.isHaveStar, 'uninspiring': !menu.isHaveStar}" [icon]="faStar" (click)="starTheMenu(menu.menuId)"></fa-icon>
                    <fa-icon class="ms-2 uninspiring" [icon]="edit" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="updatingMenu(menu.menuId)"></fa-icon>
                    <fa-icon class="ms-2 uninspiring" [icon]="trash" data-bs-toggle="modal" data-bs-target="#removeMenuModal" (click)="removingMenuFind(menu.menuId)"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</dir>

<div class="modal" tabindex="-1" id="updateModal">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Ürün Güncelleme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form (submit)="updateMenu();" onsubmit="return false">
                <div class="mb-3">
                    <input type="file" class="form-control" id="imgUpdateInput" (change)="updateFileChange($event)">
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nameUpdateInput" [(ngModel)]="willUpdatingMenu.name" name="name" placeholder="İsim Giriniz">
                    <label for="nameUpdateInput">İsim</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="explanationUpdateInput" [(ngModel)]="willUpdatingMenu.description" name="description" placeholder="Açıklama Giriniz">
                    <label for="explanationUpdateInput">Açıklama</label>
                </div>

                <div class="form-floating">
                    <input type="number" min="1" class="form-control" id="priceUpdateInput" [(ngModel)]="willUpdatingMenu.price" name="price" placeholder="Fiyat Giriniz">
                    <label for="priceUpdateInput">Fiyat</label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModal>kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Ürün Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form [formGroup]="addForm" (ngSubmit)="addMenu()" onsubmit="return false">
                <div class="mb-3">
                    <input formControlName="formFile" type="file" class="form-control" (change)="onFileChange($event)">
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="name" type="text" class="form-control" id="nameAddInput" placeholder="İsim Giriniz">
                    <label for="nameAddInput">İsim</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="description" type="text" class="form-control" id="explanationAddInput" placeholder="Açıklama Giriniz">
                    <label for="explanationAddInput">Açıklama</label>
                </div>

                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" (click)="foodsGet();">
                        <label class="form-check-label" for="inlineCheckbox1">Yiyecek Listesinden Ekle</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" (click)="drinksGet();">
                        <label class="form-check-label" for="inlineCheckbox2">İçecek Listesinden Ekle</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" (click)="sweetsGet();">
                        <label class="form-check-label" for="inlineCheckbox3">Tatlı Listesinden Ekle</label>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                    <div class="col d-none" #foodKeyValueHtml>
                        <label for="foodSelect" class="form-label">Yiyecek Seçiniz</label>
                        <select id="foodSelect" class="form-select" formControlName="foodId">
                            <ng-container *ngFor="let food of foodKeyValue">
                                <option value="{{food.key}}">{{food.value}}</option>
                            </ng-container>
                        </select>
                    </div>

                    <div class="col d-none" #drinkKeyValueHtml>
                        <label for="drinkSelect" class="form-label">İçecek Seçiniz</label>
                        <select id="drinkSelect" class="form-select" formControlName="drinkId">
                            <ng-container *ngFor="let drink of drinkKeyValue">
                                <option value="{{drink.key}}">{{drink.value}}</option>
                            </ng-container>
                        </select>
                    </div>

                    <div class="col d-none" #sweetKeyValueHtml>
                        <label for="sweetSelect" class="form-label">Tatlı Seçiniz</label>
                        <select id="sweetSelect" class="form-select" formControlName="sweetId">
                            <ng-container *ngFor="let sweet of sweetKeyValue">
                                <option value="{{sweet.key}}">{{sweet.value}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="form-floating">
                    <input formControlName="price" type="number" min="1" class="form-control" id="priceAddInput" placeholder="Fiyat Giriniz">
                    <label for="priceAddInput">Fiyat</label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModal>kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="removeMenuModal">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Ürün Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="mb-3">
                <p class="pt-3">Silmek İstediğinize Emin Misiniz?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeRemovePopup>Vazgeç</button>
                <button type="submit" (click)="removeMenu()" class="btn btn-primary">Sil</button>
            </div>

        </div>
    </div>
</div>

<div class="successMessageBox d-none" #successMessageBox>
    <div class="row successBoxRow">
        <div class="col-2" style="align-self: center;">
            <fa-icon style="font-size: 30px;" [icon]="faCheckCircle"></fa-icon>
        </div>
        <div class="col-9">
            <h5>Başarılı</h5>
            <p>{{successMessage}}</p>
        </div>
        <div class="col-1">
            <div (click)="closeSuccessMessageBox()" style="cursor: pointer;">
                <fa-icon [icon]="faTimes"></fa-icon>
            </div>
        </div>
    </div>
    <div class="successBottom"></div>
</div>